@mixin flex($j: center, $a: center, $g: 1rem) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    gap: $g;
}

@mixin breakpoint($size) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin textOver($c:3) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $c;
    -webkit-box-orient: vertical;
}

// ----------------------------------------------------------------
@mixin sectionTitle {
    color: var(--black);
    font-size: 2.5rem;
    border-bottom: solid 2px var(--primary);
    margin-bottom: 3rem;
    padding-bottom: 0.75rem;
    display: inline-block;
    @include media-breakpoint-up(768px) {
        font-size: 2rem;
    }
}

@mixin tbp {
    padding: 8rem 0;
    @include media-breakpoint-up(768px) {
        padding: 5rem 0;
    }
}

@mixin mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#333, .8);
    content: "";
}

@mixin fadeInUp {
    opacity: 0;
    transform: translateY(20px);
}

@mixin fadeInUp_animated {
    .title_animate {
        /* 使用 @keyframes 定義動畫效果 */
        animation: fadeInUp 1s ease-in-out;
        animation-fill-mode: forwards; /* 動畫結束時保持最終樣式 */
        animation-iteration-count: 1; /* 動畫執行次數 */
    }
    
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}