:root {
    /* 網站標準色 */
    --primary: #0BAA4F;
    --yellow: #E3B82B;
    --broun: #AD611B;

    /* 自然色 */
    --grey_F3: #f3f3f3;
    --grey_CC: #cccccc;
    --grey_D4: #d4d4d4;
    --grey_9F: #9f9f9f;
    --grey_66: #666666;
    --grey_33: #333333;
    --black: #000;
    --white: #fff;
}